/* switch the location of filter and length control */
.dataTables_filter {
    float: left !important;
    text-align: left !important;
}

.dataTables_length {
    float: right !important;
}

div.container-fluid.main-container {
    max-width: 1200px;
}
